@media (min-width: 1024px) {
body {
    font-family: "Raleway", sans-serif; /* Police de la page */
    margin: auto; /* Marge de la page */
}

main {
    margin: 0 2rem; /* Marge de la page (sauf footer) */
}

* { /* Propriétés générales */
    background-size: cover;
    background-position: center;
    list-style-type: none;
    text-decoration: none;
}

.item_card_housing:hover, .card_popular:hover, .card_activite:hover { /* Survol des cartes */
    box-shadow: 0 0.1rem 0.8rem #505050;
}

.item_card_housing, .card_popular { /* Bordures des cartes */
    background-color: white;
    border-radius: 1.5rem;
    border: solid 0.4rem white;
}
                
.item_card_housing, .card_popular, .card_activite { /* Ombres des cartes */
    box-shadow: 0 0 0.8rem #afafaf;
}

.full_star { /* Etoiles pleines */
    color: #0065FC;
}

.empty_star { /* Etoiles vides */
    color: #b8b8b8;
}
      
.photo_card_housing1 { /* Hébergement 1 */
    background-image: url(images/hebergements/aub_caneb.jpg);
}

.photo_card_housing2 { /* Hébergement 2 */
    background-image: url(images/hebergements/hotel_port.jpg);
}

.photo_card_housing3 { /* Hébergement 3 */
    background-image: url(images/hebergements/hotel_mouette.jpg);
}

.photo_card_housing4 { /* Hébergement 4 */
    background-image: url(images/hebergements/hotel_mer.jpg);
}

.photo_card_housing5 { /* Hébergement 5 */
    background-image: url(images/hebergements/aub_panier.jpg);
}

.photo_card_housing6 { /* Hébergement 6 */
    background-image: url(images/hebergements/hotel_amina.jpg);
}

.photo_pop1 { /* Les plus populaires 1 */
    background-image: url(images/hebergements/hotel_soleil.jpg);
}

.photo_pop2 { /* Les plus populaires 2 */
    background-image: url(images/hebergements/au_coeur.jpg);
}

.photo_pop3 { /* Les plus populaires 3 */
    background-image: url(images/hebergements/tout_bleu.jpg);
}

.photo_activite1 { /* Activité 1 */
    background-image: url(images/activites/vieux_port.jpg);
}

.photo_activite2 { /* Activité 2 */
    background-image: url(images/activites/fort_pomegues.jpg);
}

.photo_activite3 { /* Activité 3 */
    background-image: url(images/activites/frioul.jpg);
}

.photo_activite4 { /* Activité 4 */
    background-image: url(images/activites/calanques.jpg);
}

.photo_activite5 { /* Activité 5 */
    background-image: url(images/activites/notre_dame.jpg);
}

.photo_activite6 { /* Activité 6 */
    background-image: url(images/activites/longchamp.jpg);
}

.medium { /* Paragraphes */
    font-family: "Raleway Medium";
}

.bold, h1, h2 { /* Titres */
    font-family: "Raleway";
    font-weight: bold;
}

h1 { /* Titres principaux */
    font-size: 1.4rem;
}

h2, p, .stars, li, .filter_button, #search_bar > input, .search_button { /* Titres secondaires */
    font-size: 1rem;
}

a:visited, a { /* Effets d'affichage des liens visités */
    color: black;
}

/* Header */
header { /* Conteneur */
    margin-top: 1.5rem;
    height: 3.6rem;
    justify-content: space-between;
    align-items: center;
}

    /* Barre de navigation */
        nav > ul, header, header > div, nav {
            display: flex;
        }

        .login {
            justify-self: flex-end;
        }

        header > div {
            width: 10%;
        }

        nav {
            width: 80%;
            justify-content: flex-end;
        }

        .login > a, .login > a:visited, nav > ul > li > a:hover { /* Couleur des liens */
            color: #0065FC;
        }

        nav > ul > li:hover { /* Effets de survol */
            border-top: solid 0.3rem #0065FC;
        }

        nav > ul > li, .login > a { /* Taille et alignement des éléments de navigation */
            height: 6.6rem;
            width: 9rem;
            line-height: 6rem;
            border-top: solid 0.3rem transparent;
            text-align: center;
        }
        
/* Texte d'accroche de la page */
#slogan > h1 { /* Marge du titre */
    margin: 1.5rem 0 0.25rem 0;
}

#slogan > p { /* Marge du paragraphe */
    margin: 0.25rem 0 1.5rem 0;
}

/* Barre de recherche */
#search_bar { /* Conteneur */
    display: flex;
    margin-bottom: 1.5rem;
}

.fa-map-marker-alt { /* Icône de localisation */
    background-color: #F2F2F2;
    padding: 0.8rem;
    border-radius: 0.7rem 0 0 0.7rem;
}

.button_fa-search { /* Bouton sur mobile */
    display: none;
}

#search_bar > input { /* Barre de texte */
    background: none;
    padding: 0.2rem 2rem 0.2rem 1rem;
    border-top: solid 0.1rem #F2F2F2;
    border-bottom: solid 0.1rem #F2F2F2;
    border-right: none;
    border-left: none;
}

.search_button { /* Bouton 'Rechercher' */
    border-radius: 0 0.7rem 0.7rem 0;
    background-color: #0065FC;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    color: white;
}

.search_button:hover { /* Effets de survol du bouton 'Rechercher' */
    background-color: #0057da;
}

/* Filtres */
#filters, .filters_buttons { /* Conteneurs */
    display: flex;
    align-items: center;
}

    #filters > p, .filter_set { /* Marges entre les éléments */
        margin-right: 1rem;
    }

    .filter_set > i { /* Icônes */
        background-color: #DEEBFF;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        line-height: 2.5rem;
        text-align: center;
        color: #0065FC;
    }

    .filter_button { /* Boutons */
        border-radius: 10rem;
        background: none;
        padding: 0.55rem 1.1rem 0.55rem 3.1rem;
        border: solid 0.1rem #dadada;
        cursor: pointer;
    }

    .filter_button:hover { /* Survol */
        color: white;
        background-color: #0065FC;
        border: solid 0.1rem #0065FC;
    }

    .filter_button:active { /* Clic */
        background-color: #0057da;
        border: solid 0.1rem #0057da;
    }

/* Message d'info */
#info { /* Conteneur */
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

#info > i { /* Icône d'info */
    border: solid 0.1rem #dadada;
    color: #0065FC;
    border-radius: 10rem;
    padding: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.7rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

/* Hébergements et Les plus populaires */
#housing_and_popular { /* Conteneur */
    display: flex;
    justify-content: space-between;
}

/* Hébergements */
.housing { /* Conteneur */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 63%;
    height: 40rem;
    border-radius: 2rem;
}

    .housing > h1 { /* Titre */
        margin: 2rem 0 0 2rem;
    }

    .housing > h2 { /* Afficher plus */
        margin: 0 0 2rem 2rem;
    }

    .conteneur_cards_housing { /* Conteneur des cartes */
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 75%;
        padding: 0 0.5rem;
    }

        .item_card_housing { /* Cartes */
            display: flex;
            flex-direction: column;
            height: 13rem;
            width: 29%;
            cursor: pointer;
        }

        .photo_card_housing { /* Photos */
            height: 57%;
            border-radius: 1rem 1rem 0 0;
        }

        .description_card_housing { /* Descriptions */
            display: flex;
            background-color: white;
            flex-direction: column;
            justify-content: center;
            border-radius: 0 0 1rem 1rem;
            height: 43%;
        }

        .description_card_housing > h2, .description_card_housing > p, .description_card_housing > .stars { /* Marges des éléments descriptifs */
            margin: 0.15rem 0.6rem;
        }

/* Les plus populaires */
.popular { /* Conteneur */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 33%;
    height: 40rem;
    border-radius: 2rem;
}

    .head_popular { /* Titres + icône */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        margin-top: 0.9rem;
    }
        
    .conteneur_cards_popular { /* Conteneur des cartes */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        flex-direction: column;
        height: 31rem;
        margin-bottom: 2.9rem;
    }

        .cards_photo_popular { /* Photos */
            width: 45%;
            border-radius: 1rem 0 0 1rem;
        }

        .card_popular { /* Cartes */
            display: flex;
            height: 9rem;
            width: 100%;
            cursor: pointer;
        }

        .description_cards_popular { /* Descriptions */
            display: flex;
            background-color: white;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 0 1.1rem 1.1rem 0;
            padding: 1rem;
            width: 55%;
        }

        .description_cards_popular > p, .description_cards_popular > .stars, .description_cards_popular > h2 { /* Marges des éléments de description */
            margin: -1rem 0;
        }

        .stars { /* Etoiles */
            display: flex;
            justify-content: space-between;
            width: 6rem;
        }

/* Activités */
#activities { /* Conteneur */
    margin-top: 3rem;
    height: 35rem;
}

    #activities > h1 { /* Titre */
        margin-bottom: 2rem;
    }

    .conteneur_cards_activites { /* Conteneur des cartes */
        height: 27rem;
        display: grid; /* Grille CSS */
        grid-gap: 1.5rem; /* Espacement */
        grid-template-columns: repeat(4, 1fr); /* Colonnes */
        grid-template-rows: repeat(10, 10%); /* Lignes */
    }

        .card_activite { /* Cartes */
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
        }

        .photo_activite { /* Photos */
            height: 25rem;
            border-radius: 1rem 1rem 0 0;
        }

        .card_activite > p { /* Descriptions */
            background-color: white;
            height: auto;
            line-height: 1.5rem;
            border-radius: 0 0 1rem 1rem;
            padding: 0 1rem;
        }

        .card_activite1 { /* Carte 1 */
            grid-column: 1 / 2;
            grid-row: 1 / 8;
        }

        .card_activite2 { /* Carte 2 */
            grid-column: 2 / 3;
            grid-row: 1 / 5;
        }

        .card_activite3 { /* Carte 3 */
            grid-column: 2 / 3;
            grid-row: 5 / 8;
        }

        .card_activite4 { /* Carte 4 */
            grid-column: 3 / 4;
            grid-row: 1 / 8;
        }

        .card_activite5 { /* Carte 5 */
            grid-column: 4 / 5;
            grid-row: 1 / 4;
        }

        .card_activite6 { /* Carte 6 */
            grid-column: 4 / 5;
            grid-row: 4 / 8;
        }

/* Footer */
footer { /* Conteneur */
    display: flex;
    background-color: #F2F2F2;
    height: 13rem;
}

.categorie_footer { /* Catégories */
    padding: 1.5rem 0 0 1.5rem;
    width: 100%;
}

    .categorie_footer > ul { /* Conteneur catégories */
        display: flex;
        flex-direction: column;
    }

        .categorie_footer > ul > li { /* Marges */
            margin-bottom: 1rem;
        }

}
            