@media (min-width: 320px) and (max-width: 480px) {
/********* BARRE DE RECHERCHE *********/
.search_button { /* BOUTON DESKTOP ET TABLETTES */
    display: none;
}

.button_fa-search { /* BOUTON MOBILE */
    display: block;
    background-color: #0065FC;
    font-size: 1rem;
    border: none;
    padding: 0 1.2rem;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    position: relative;
    left: -2rem;
}

/********* HOUSING *********/
#housing { /* CONTENEUR */
    height: 140rem;
}

    .conteneur_cards_housing { /* CONTENEUR CARTES */
        height: 90%;
    }

        .item_card_housing { /* CARTE */
            width: 90%;
        }

/********* ACTIVITES *********/
#activities { /* CONTENEUR */
    height: 127rem;
}

.card_activite { /* CARTE */
    width: 90%;
}

}