/* Propriétés générales à la page */
body {
    font-family: "Raleway", sans-serif;
    width: 85rem;
    margin: auto;
}

.p_h {
    font-family: "Raleway Medium";
    font-size: 0.9em;
    padding-left: 5px;
}

/* Polices et gras */
.medium {
    font-family: "Raleway Medium";
}

.semibold {
    font-family: "Raleway SemiBold";
}

.bold {
    font-family: "Raleway";
    font-weight: bold;
}

/* Couleur des icônes */
.i_blue {
    color: #0065FC;
}

.i_black {
    color: black;
}

.i_grey {
    color: #bdbdbd;
}

/* Titres */
h1 {
    font-weight: bold;
    font-size: 1.4em;
}

h2, h3 {
    font-weight: bold;
    font-size: 1em;
}

a {
    text-decoration: none;
}

/* Header + Logo */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 50px;
}

.logo {
    align-self: center;
}

    .logo > img {
        width:80px;
    }

/* Barre de navigation */
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 50px;
    list-style-type: none;
    font-size: 1em;
}

.nav_el > a:visited {
    color: black;
}

.nav_el:hover, .nav_log:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

.nav_log, .nav_log > a:visited, .nav_el > a:hover, .nav_log > a:hover {
    color: #0065FC;
}

.nav_el, .nav_log {
    height: 88px;
    width: 150px;
    text-align: center;
    line-height: 88px;
}

/* Texte d'accroche de la page */
#slogan > h1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#slogan > p {
    margin-top: 5px;
    margin-bottom: 18px;
}

/* Barre de recherche */
#search_bar {
    display: flex;
}

    .fa-map-marker-alt {
        background-color: #F2F2F2;
        padding: 12px;
        border-radius: 10px 0 0 10px;
    }

    input {
        background: none;
        font-size: 1em;
        padding: 5px 25px 5px 10px;
        border-top: solid 1.5px #F2F2F2;
        border-bottom: solid 1.5px #F2F2F2;
        border-right: none;
        border-left: none;
    }

    .search {
        color: white;
        background-color: #0065FC;
        border-radius: 0 10px 10px 0;
        border: none;
        font-size: 1em;
        padding: 0 15px 0 15px;
        cursor: pointer;
    }

    .search:hover {
        background-color: #0057da;
    }



/* Section #Filters */
/* Conteneur #Filters */
#filters {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
}

/* Titre de la catégorie filtres */
#filters > p {
    margin-right: 15px;
}

/* Habillage des boutons et icônes de filtres */
.f_set {
    margin-right: 15px;
}

.f_icon {
    background-color: #DEEBFF;
    border-radius: 25px;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    line-height: 2.5rem;
}

.f_button {
    border-radius: 50px;
    background: none;
    padding: 8px 15px 8px 43px;
    border: solid 1.5px #dadada;
    font-size: 1em;
    cursor: pointer;
}

/* Animations de survol et de clic sur les filtres */
.f_button:hover {
    background-color: #0065FC;
    color: white;
    border: solid 1.5px #0065FC;
}

.f_button:active {
    background-color: #0057da;
    color: white;
    border: solid 1.5px #0057da;
}



/* Message d'info */
#info {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.fa-info {
    border: solid 1.5px #dadada;
    border-radius: 50px;
    padding: 6px;
    height: 11px;
    width: 11px;
    margin-right: 10px;
    text-align: center;
    line-height: 11px;
}

/* Housing + Aside */
#body1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Section Housing (Hébergements) */
.conteneur_housing {
    margin-top: 20px;
    background-color: #F2F2F2;
    width: 63%;
    height: 43rem;
    border-radius: 20px;
}

.conteneur_housing > h1 {
    position: relative;
    top: 1.4rem;
    left: 3rem;
}

.conteneur_housing > h2 {
    position: relative;
    top: 3.5rem;
    left: 3rem;
    cursor: pointer;
    width: 15%;
}

.conteneur_housing > h2:hover {
    color: #0065FC;
}

.conteneur_cards_housing {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 70%;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    top: 2rem;
}

.item_card_housing {
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 29%;
    box-shadow: 0 0 10px #afafaf;
    border-radius: 1.1rem;
    cursor: pointer;
}

.photo_card_housing {
    border: solid 5px white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60%;
    width: 95.4%;
    border-radius: 1.1rem 1.1rem 0 0;
    background-size: cover;
    background-position: center;
}

.description_card_housing {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 1.1rem 1.1rem;
    height: 40%;
    width: 100%;
}

.description_card_housing > h2 {
    position: relative;
    top: 0.4rem;
    left: 0.9rem;
}

.description_card_housing > p {
    position: relative;
    top: -1.1rem;
    left: 0.9rem;
}

.description_card_housing > .stars {
    position: relative;
    top: -1.6rem;
    left: 0.9rem;
}

.photo_card_housing1 {
    background-image: url(images/hebergements/aub_caneb.jpg);
}

.photo_card_housing2 {
    background-image: url(images/hebergements/hotel_port.jpg);
}

.photo_card_housing3 {
    background-image: url(images/hebergements/hotel_mouette.jpg);
}

.photo_card_housing4 {
    background-image: url(images/hebergements/hotel_mer.jpg);
}

.photo_card_housing5 {
    background-image: url(images/hebergements/aub_panier.jpg);
}

.photo_card_housing6 {
    background-image: url(images/hebergements/hotel_amina.jpg);
}

.full_star { /* Couleur des étoiles pleines */
    color: #0065FC;
}

.empty_star { /* Couleur des étoiles vides */
    color: #b8b8b8;
}

.item_card_housing:hover {
    box-shadow: 0 2px 10px #505050;
}

/* Section 'Les plus populaires' */
.popular {
    margin-top: 20px;
    background-color: #F2F2F2;
    width: 33%;
    height: 43rem;
    border-radius: 20px;
}

.head_popular {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 1.3rem;
}

.conteneur_cards_popular {
    padding: 15px 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 5px;
    height: 33.3rem;
}

.cards_photo_popular {
    border: solid 5px white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 92.5%;
    width: 45%;
    border-radius: 1.1rem 0 0 1.1rem;
    background-size: cover;
    background-position: center;
}

.photo_pop1 {
    background-image: url(images/hebergements/hotel_soleil.jpg);
}

.photo_pop2 {
    background-image: url(images/hebergements/au_coeur.jpg);
}

.photo_pop3 {
    background-image: url(images/hebergements/tout_bleu.jpg);
}

.conteneur_pop1, .conteneur_pop2, .conteneur_pop3 {
    display: flex;
    height: 9rem;
    width: 100%;
    box-shadow: 0 0 10px #afafaf;
    border-radius: 1.1rem;
    cursor: pointer;
}

.description_cards_popular {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 1.1rem 1.1rem 0;
    padding: 1rem;
    width: 55%;
}

.description_cards_popular > p, .description_cards_popular > .stars, .description_cards_popular > h2 {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.stars {
    display: flex;
    width: 6.2rem;
    justify-content: space-between;
}

.conteneur_pop1:hover, .conteneur_pop2:hover, .conteneur_pop3:hover {
    box-shadow: 0 2px 10px #505050;
}

/* Section 'Activités' */
#activities {
    margin-top: 50px;
    width: 100%;
    height: 35rem;
}

.conteneur_cards_activites {
    width: 100%;
    height: 27rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 10%);
}

#activities > h1 {
    margin-bottom: 2rem;
}

.card_activite {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.1rem;
    box-shadow: 0 0 10px #afafaf;
    display: flex;
    flex: 1 1 5rem;
    cursor: pointer;
    width: 100%;
    background-position: center;
}

.card_activite1 {
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}

.card_activite2 {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.card_activite3 {
    grid-column: 2 / 3;
    grid-row: 5 / 8;
}

.card_activite4 {
    grid-column: 3 / 4;
    grid-row: 1 / 8;
}

.card_activite5 {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.card_activite6 {
    grid-column: 4 / 5;
    grid-row: 4 / 8;
}

.card_activite:hover {
    box-shadow: 0 2px 10px #505050;
}

.card_activite1 {
    background-image: url(images/activites/vieux_port.jpg);
}

.card_activite2 {
    background-image: url(images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.card_activite3 {
    background-image: url(images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.card_activite4 {
    background-image: url(images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.card_activite5 {
    background-image: url(images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.card_activite6 {
    background-image: url(images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.card_activite > p {
    background-color: white;
    padding: 0.4rem 0 0.4rem 1rem;
    border-radius: 0 0 1.1rem 1.1rem;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    align-self: flex-end;
    position: relative;
    top: 1rem;
}

/* Footer */
footer {
    display: flex;
    background-color: #F2F2F2;
    height: 200px;
    align-content: center;
    justify-content: flex-start;
}

.link_footer:visited, .link_footer_t:visited {
    color: black;
}

.link_footer:hover {
    color: #0065FC;
}

.link_footer_t:hover {
    color: #5f5f5f;
}

.cat_footer > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
}

.cat_footer {
    padding-top: 70px;
    width: 350px;
}

.contenu_li {
    line-height: 15px;
}

